<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655650934938-eubq35qstfne0uamal42u00auv9vslg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655650934938-eubq35qstfne0uamal42u00auv9vslg1</string>
	<key>API_KEY</key>
	<string>AIzaSyDIYn82pYmIO2jerHI6U1NoOHfyhvsJTZk</string>
	<key>GCM_SENDER_ID</key>
	<string>655650934938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>denis.zhukoborsky.SongGuesser</string>
	<key>PROJECT_ID</key>
	<string>songguesser-173d3</string>
	<key>STORAGE_BUCKET</key>
	<string>songguesser-173d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655650934938:ios:794c2a82febae8c7</string>
	<key>DATABASE_URL</key>
	<string>https://songguesser-173d3.firebaseio.com</string>
</dict>
</plist>